body { 
    background-color: rgba(255, 192, 203, 0.53);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e48c8c;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgba(248, 243, 243, 0);
    text-align: start;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #db6565;
  }