body { 
    background-color: rgba(167, 166, 210, 0.53);
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: #0e0f5d;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #f9f3f3fb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color:rgba(167, 166, 210, 0.53)
  }

  