body { 
    background-color: rgba(222, 161, 168, 0.53); /*achtergrondkleur van alle pagina's op de website*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e1688a;
  } /*dit is de kleur van het menu (-balkje)*/
  
  li {
    float: right; 
  }
  
  li a {
    display: block;
    color: #0b0a0afb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } /*dit stukje gaat over de letters, dus welke kleur de tekst moet zijn, wat de dikte van het opvulgebied moet zijn */ 
  
  
  li a:hover {
    background-color:rgb(222, 161, 168, 0.53)
  } /*dit geeft aan als je over je menu heen gaat 'hoveren', je een andere kleur ziet. Ik heb ervoor gekozen dat het dan donkerder is.*/

p {
width: 75%
} /*dit geeft aan hoe minder breed/compacter de teksten op de pagina's van de website komt te staan. Ik heb hier 75%, als je 50% doet, wordt ie nog minder breed.*/

  
